<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <script src="angularjs/angular.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
        <hr>
        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add
            New</button>
        <h2>All User</h2>
        <span class="clearfix"></span>
        <hr>
        <table border="1px solid black" class="table table-stripd">
            <thead>
                <tr>
                    <th>index</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in bookings">
                    <td>{{$index+1}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#myModalEdit" ng-click="selectBooking(Booking)">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#myModalDelete" ng-click="selectBooking(Booking)">Delete</button></td>
                </tr>
            </tbody>

        </table>

    </div>
    <div class="container">
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add New Booking</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="Enter username"
                                name="username" ng-model="newBooking.username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                name="email" ng-model="newBooking.email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default"ng-click="saveBooking()" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </form>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>


      <div class="container">
        <!-- The Modal -->
        <div class="modal" id="myModalEdit">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Edit This User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="Enter username"
                                name="username" ng-click="clickedBooking.username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                name="email" ng-click="clickedBooking.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="updateBooking()" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </form>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>

      <div class="container">
        <!-- The Modal -->
        <div class="modal" id="myModalDelete">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <strong style="color: red;">
                    Youn are going to delete {{clickedBooking.username}}. All information deleted..
                </strong>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteBooking()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">No</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>

</body>

</html>